@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes-Regular.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes-Bold.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../fonts/TTLakes-Medium.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes-Regular.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../fonts/TTLakes-Medium.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes BoldItalic';
    src: url('../fonts/TTLakes-BoldItalic.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'TT Lakes Regular';
    font-weight: 900;
    box-sizing: border-box;
    background-color: #fff;
}
.body_close {
    filter: blur(5px);
    position: fixed;
    -webkit-filter: blur(15px);
    background-color: hsla(0,0%,100%,.96);
    
}

h2 {
    display: inline-block;
    padding-left: 20px;
    font-size: 28px;
    font-family: 'TT Lakes Bold';
}

.main__top_pc h2::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    border: 1px solid #41F6D7;
    margin-left: -20px;
    margin-top: -4px;
    background-color: #41F6D7;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.header__left {
    display: flex;
    justify-content: space-between;
    flex-grow: .1;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.header__logo {
    margin-left: 10px;
    cursor: pointer;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    flex-grow: .2;
    margin-right: 10px;
}

.header__right :nth-child(1) {
    margin-right: 10px;
}

.header__active {
    display: none;
}

.main {
    background-color: #F8F8F8;
}

.icon {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: #FF3E79;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.icon:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.menu__open img {
    margin: 0 auto;
}

.main__subtitle {
    order: -1;
    padding: 10px 10px 0 20px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    font-weight: 500;
}

.main__slider {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    padding: 20px 10px;
}

.main__slideItem {
    min-width: 250px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid transparent;
    cursor: pointer;
    color: #7E7E82;
    transition: .3s;
    padding: 5px;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.main__slideItem:hover {
    transition: .3s;
    border: 3px solid #B8FFEC;
    background-color: #fff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.main__slideItem_active {
    border: 3px solid #B8FFEC;
    background-color: #fff;
}

.main__infoBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

.main__laptop {
    display: none;
}

.main__pc {
    display: none;
}

.main__p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.main__buttonRead {
    order: -1;
    margin: 15px 0 15px 10px;
    cursor: pointer;
}

.main__read {
    margin-left: 20px;
    font-weight: 900;
    font-family: 'TT Lakes Regular';
}

.main__img {
    margin-top: 20px;
    width: 100%;
}

.main__info_icons {
    display: none;
}
.main__icons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    transition-duration: .5s;
    cursor: pointer;
    background-color: #FF3E79;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main__icons_block:hover {
    background-color: black;
    transition-duration: .5s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.main__icon span {
    margin-right: 10px;
}

/* slider */
.slider h2,
.price h2 {
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7E7E82;
    background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
    margin: 0;
    padding: 16px;
}

.slider {
    min-width: 320px;
}

.slider__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    transition-duration: .5s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slider__arrow:hover {
    background-color: rgb(220, 217, 217);
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transform: rotate(360deg) scale(1.2);
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
    -ms-transform: rotate(360deg) scale(1.2);
    -o-transform: rotate(360deg) scale(1.2);
}

.slider__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 16px 0 66px;
    background-color: #F2F2F2;
}

.slider__oneSlider {
    display: flex;
    flex-basis: 240px;
    justify-content: space-between;
    align-items: center;
    min-width: 240px;
    height: auto;
    padding: 20px 0 20px 16px;
    margin: 16px 8px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.slider__slides {
    display: flex;
}

.slider__oneSlider a {
    padding-right: 16px;
}


.slider__dots {
    display: flex;
    justify-content: center;
    width: 320px;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.activeDot {
    background-color: #DDDDDD;
}

.slider__dot:hover {
    background-color: #B5B6BC;
}

.open,
.close {
    display: flex;
    align-items: center;
    margin: 24px 0 0 24px;
    width: 150px;
}
.close {
    width: 100px;
}

.open span,
.close span {
    margin-left: 30px;
}

.slider__button {
    display: none;
    cursor: pointer;
}

.slider__button img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

/* end slider */
/* start menu */
.menu {
    visibility: hidden;
    position: fixed;
    opacity: .4;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    background-color: #fff;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
.menu_blur {
    filter: blur(15px);
    overflow-y: hidden;
    -webkit-filter: blur(15px);
}

.menu__open {
    visibility: visible;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transform: translateX(0%);
    opacity: 1;
    overflow-y: hidden;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

a {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    padding: 10px 0 0 34px;
    padding-bottom: 10px;
}

.menu a:first-child {
    margin-top: 14px;
}

.menu__main a:hover::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    border: 2px solid #e02424;
    margin-left: -20px;
    margin-top: -8px;
    background-color: #e02424;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.menu__main_activeLink::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    border: 2px solid #41F6D7;
    margin-left: -20px;
    margin-top: -8px;
    background-color: #41F6D7;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.active {
    color: #7E7E82;
}

.menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #FF3E79;
    /* margin: 0 0px 0 10px; */
    transition: .6s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.icon:hover {
    background-color: #2b0611;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.menu__main {
    display: flex;
    flex-direction: column;
}

.menu__close {
    position: relative;
    margin: 10px;
}

.menu__topLogo {
    position: relative;
    left: -40px;
}

.menu__top_search {
    margin-right: 10px;
}

.menu__oneIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    transition: .6s;
    cursor: pointer;
    background-color: #FF3E79;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.menu__oneIcon:hover {
    background-color: #2b0611;
    transition: .6s;
    transform: scale(1.1);
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.menu__infoBlock {
    margin-left: 34px;
}

.menu__email {
    padding-top: 10px;
}

.menu__iconsBlock {
    display: flex;
    margin-top: 10px;
}

.menu__telephone {
    font-family: 'TT Lakes BoldItalic';
    font-size: 24px;
}

.menu__languageBlock {
    cursor: pointer;
    margin-bottom: 15px;
}

.menu__languageBlock span:nth-child(2),
.menu__languageBlock span:nth-child(3) {
    margin-left: 7px;
}

.menu__langActive {
    color: #7E7E82;
}

.menu__languageBlock span:hover {
    color: #7E7E82;
}

/* end menu */
/* tech slider  */
.slider__tech {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #F8F8F8;
    padding: 30px 0 60px 0;
}

.slider__singleTechSlider {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 160px;
    margin: 16px 8px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
}

.slider__singleTechSlider h3 {
    justify-content: flex-start;
    font-size: 16px;
    padding-left: 16px;
}

.slider__singleTechSlider .slider__arrow {
    margin: 100px 15px 0 5px;
}

.slider__tech_dots {
    position: absolute;
    display: flex;
    margin-left: 50%;
    margin-bottom: 30px;
    transform: translateX(-50%);
    justify-content: center;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.dot {
    width: 30px;
    height: 30px;
    background-color: black;
}

.dot:nth-child(n+2) {
    margin-left: 5px;
}

/* end techslider */
/* priceSlider */
.price {
    background-color: #F8F8F8;
    overflow: hidden;
}

.price h2 {
    display: block;
    width: 100%;
}

.price__slider {
    position: relative;
    background-color: #F8F8F8;
    overflow: hidden;
    padding: 30px 0 50px 0;
}

.price__onePrice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.price__oneBlock {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    cursor: pointer;
}

.price__time {
    display: flex;
    flex-direction: column;
}

.timeBlock {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: center;
    align-items: center;

}

.price__oneBlock_title {
    color: #7E7E82;
    font-family: 'TT Lakes Medium';
    font-size: 14px;
    line-height: 16px;
    opacity: 0.72;
}

.price__descr {
    font-family: 'TT Lakes Regular';
    color: #1B1C21;
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.price__onePrice {
    width: 260px;
    height: 200px;
    margin: 8px;
}

.price__order {
    display: flex;
    justify-content: space-evenly;
    padding: 4px 0 4px 12px;
    background-color: #FF3E79;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.price__dots {
    position: absolute;
    width: auto !important;
    margin-left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.price__table {
    display: none;
}

.price__infoBlock {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 300;
    color: #1B1C21;
    padding: 20px 10px;
}

.price__infoBlock_wrapper {
    width: 80%;
}

.price__infoBlock_wrapper a {
    padding: 0 0 0 0;
    font-weight: 600;
}

.price__infoBlock_wrapper a span::after {
    content: '';
    display: inline-block;
    position: absolute;
    margin-top: 6px;
    width: 15px;
    height: 15px;
    background: url('../img/arrowRight.png') center right no-repeat;
}

/* end priceSlider */
/* footer */
.footer {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    color: #7E7E82;
    padding: 40px 0 20px 0;
    font-family: 'TT Lakes Medium';
    font-size: 14px;
    line-height: 16px;
    mix-blend-mode: normal;
    text-align: center;
}

.footer a {
    color: #7E7E82;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0.72;
}

.footer span {
    opacity: 0.72;
}

.copyright {
    display: flex;
    flex-direction: column;
}

.footer__oneBlock {
    padding: 10px 10px;
}

/* end footer */
/* feedBack*/
.modalFeedBack {
    position: fixed;
    transform: translateX(100%);
    transition-duration: .5s;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
}

.modalFeedBack__active {
    transform: translateX(0);
    transition-duration: .5s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.modal_close {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 24px 0 0 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.modalTitle {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin-left: 12px;
    font-weight: 900;
    font-family: 'TT Lakes Bold';
}

.modalFeedBack__info span,
.modalFeedBack__info span a {
    display: inline;
    font-family: 'TT Lakes Medium';
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #7E7E82;
}

.modal_info span a {
    color: #FF3E79;
}

.modalTitle::before {
    content: '';
    position: absolute;
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    margin-left: -12px;
    margin-top: -5px;
    border-radius: 5px 0 0 5px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

.modalFeedBack__wrapper {
    width: 90%;
    margin-left: 5%;
}
.modal_info {
    font-weight: 100;
}

input,
textarea {
    padding: 12px 0 12px 16px;
    color: #B5B6BC;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin: 6px 0;
}

input:focus,
textarea:focus {
    border-color: #333;
}

.modalFeedBack__wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalFeedBack__wrapper form textarea {
    height: 110px;
    resize: none;
}

.buttonBlock {
    display: flex;
    justify-content: end;
}

.submit {
    display: flex;
    justify-content: space-evenly;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #FF3E79;
    font-family: 'TT Lakes Bold';
    line-height: auto;
    cursor: pointer;
    padding: 10px 28px;
    margin-top: 16px;
    text-transform: uppercase;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.submit img {
    padding-left: 20px;
}

/* end feedback */
/* modalCall */
.modalCall {
    visibility: hidden;
    transform: translateX(150%);
    width: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    opacity: .3;
    transition-duration: .5s;
    z-index: 1000;
    height: 100vh;
    position: fixed;
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
}

.modalCall__active {
    visibility: visible;
    transform: translateX(0);
    transition-duration: .5s;
    opacity: 1;
    transition-timing-function: ease-in;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.modalCall__wrapper form {
    display: flex;
    flex-direction: column;
}

/* end modalCall */
.modalCall__wrapper {
    width: 90%;
    margin-left: 5%;
    background-color: #fff;
}

@media(min-width:768px) {
    body {
        min-width: 768px;
    }

    .menu {
        width: 320px;
    }

    .menu__iconsBlock {
        margin-top: 80px;
    }

    .main__infoBlock {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .main__subtitle {
        align-self: flex-start;
        flex-grow: 1;
        width: 60%;
        font-size: 16px;
    }

    .main__laptop {
        display: block;
    }

    .main__img {
        align-self: flex-end;
        flex-grow: 1;
        width: 30%;
        padding-right: 10px;
    }

    .main__buttonRead {
        order: 1;
        margin: -2% 0 0 30px;
    }

    .main__slider {
        justify-content: flex-start;
    }

    .main__slideItem {
        min-width: 240px;
    }

    /* slider */
    .slider__wrapper {
        overflow: hidden;
    }

    .slider {
        min-width: 100%;
    }

    .slider__slides {
        display: grid;
        margin: 0 10px;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .slider__oneSlider {
        min-width: 224px;
        margin: 0 10px;
    }

    .swiper-slide {
        width: auto;
        height: auto;
    }

    .slider__slides {
        margin: 0 0;
    }

    .slide__slide_hidden {
        display: none;
    }

    .slider__dots {
        display: none;
    }


    .open {
        display: flex;
    }

    .slider__oneSlider:nth-child(n+7) {
        display: none;
    }

    /* endslider */
    /* techslider */
    .slider__tech_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .slider__singleTechSlider:nth-child(n+4) {
        display: none;
    }

    .slider__singleTechSlider {
        margin: 8px 8px;
    }

    .slider__tech .swiper-slide {
        height: 100%;
    }

    /* end techslider */
    /* price slider */
    .price__slider {
        display: none;
    }

    .price h2 {
        display: block;
    }

    .price__insetBlock {
        position: relative;
        width: 90%;
        margin-left: 5%;
    }

    .price {
        background-color: #F8F8F8;
        padding: 30px 0;
    }

    .price__table {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #1B1C21;
        font-family: 'TT Lakes Regular';
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        background: #F8F8F8;
    }

    .price__wrapper {
        width: 95%;
        margin-left: 2.5%;
        background-color: #fff;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    .price__row {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 1fr;
        background-color: #fff;
        padding: 16px 0
    }

    .topRow {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 1fr;
        width: 90%;
        margin-left: 5%;
        color: #7E7E82;
        font-family: 'TT Lakes Medium';
        background-color: #F8F8F8;
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: #EAEAEA;
        position: absolute;
        z-index: 10;
    }

    .price__button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        margin-top: 10px;
        background-color: #FF3E79;
        border-radius: 20px;
        height: 32px;
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
        font-family: 'TT Lakes Bold';
        text-transform: uppercase;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .price__infoBlock {
        background-color: #F8F8F8;
    }

    /* end price block */
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 10px 0 10px;
    }

    .footer__oneBlock:nth-child(3) {
        text-align: right;
    }

    /* modalFeedback */
    .modalFeedBack {
        width: 320px;
    }

    /* .modalFeddBack */
    .modalFeedBack__close {
        position: absolute;
        margin-left: -70px;
        margin-top: 20px;
    }

    /* modalCall */
    .modalCall {
        width: 320px;
    }
}

@media(min-width:1440px) {
    body {
        min-width: 1120px;
    }

    .header {
        display: none;
    }

    .header__right {
        justify-content: space-between;
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .header__active {
        display: block;
        position: absolute;
        margin-left: -190px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        font-weight: 900;
    }

    .main__pc {
        display: block;
    }

    .main__slider {
        justify-content: space-evenly;
        overflow: hidden;
    }

    .main__slideItem {
        min-width: 200px;
    }

    .main__img {
        align-self: flex-end;
        flex-grow: 1;
        width: 30%;
    }

    .main__buttonRead {
        order: 1;
        margin: -4% 0 0 30px;
    }

    .main__top_pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main__info_icons {
        width: 37%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
    }
    .header__img_block {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 110px; */
    }

    .main__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .main__icon img {
        background-color: #FF3E79;
        width: auto;
        height: auto;
        padding: 15px;
        margin-left: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    } */

    /* slider */

    .slider__slides {
        display: grid;
        min-width: 1120px;
        margin: 0 0;
        gap: 20px;
        margin-left: 6%;
        grid-template-columns: 20.5% 20.5% 20.5% 20.5%;
        justify-content: center;
        grid-template-rows: 1fr 1fr;
    }

    .slider h2 {
        margin-left: 160px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


    .slider__oneSlider:nth-child(n+7) {
        display: flex;
    }

    .slider__oneSlider:nth-child(n+9) {
        display: none;
    }

    .open,
    .close {
        margin: 24px 0 0 15%
    }

    /* endslider */
    .menu {
        transform: translateX(0%);
        visibility: visible;
        opacity: 1;
        height: 100vh;
        box-shadow: none;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    .menu__close {
        display: none;
    }

    .menu__topLogo {
        margin-left: 60px;
    }

    header,
    main {
        margin-left: 160px;
    }

    /* tech slider */
    .slider__singleTechSlider:nth-child(n+4) {
        display: flex;
    }

    .slider__tech_wrapper {
        display: grid;
        margin-left: 13%;
        grid-template-columns: 21.5% 21.5% 21.5% 21.5%;
    }

    .slider__singleTechSlider {
        min-width: 224px;

    }

    /* price block */
    .price__wrapper {
        width: auto;
        margin-left: 160px;
    }

    .price {
        background-color: #F8F8F8;
        padding: 30px 20px;
    }

    .price h2 {
        margin-left: 140px;
    }

    /* footer */
    .footer {
        margin-left: 160px;
    }

    .footer__oneBlock:nth-child(1) {
        text-align: left;
    }

}